@media (max-width: 768px) {
  .header-nav .nav-left > div {
    text-align: center;
    padding-top: 10px;
  }

  .header-nav #contact-link ul li:first-child {
    margin-bottom: 5px;
  }

  #_desktop_user_info {
    display: none;
  }

  .nav-right {
    text-align: center;
  }

  .logo_header {
    text-align: center;
    position: relative;
    padding: 30px 0;
    line-height: 1;
    height: auto;
    width: 100%;
    margin: 0 auto;
    float: none;
}

.header-nav {
    height: 100%;
}
#sticky_top {
    /* display: none; */
    width: 100%;
    height: 50px;

}


#_desktop_search_ft .search_filter {
    display: none;
}

#_desktop_cart_ft {
    display: none;
}

#sticky_top:not(.sticky-fixed-top) #_desktop_search_ft div.dropdown-menu {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 50px;
}
.field-search ,form#searchbox{
    height: 50px;
}
#sticky_top:not(.sticky-fixed-top) #_desktop_search_ft {
    float: none;
}

#_desktop_search_ft #search_query_top {
    border-width: unset;
    border-radius: 30px;
    width:100%;
}

.header-bottom .container  {
    background: unset;
    border-radius: unset;
}

.header_menu {
    /* display: none; */
}

.fieldmm-nav {
    background-color: #333;
}

.menu-mb-nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#_mobile_cart_ft .title_font{
    color: #fff;
    font-weight: 600;
}

#_mobile_cart_ft .cart-total-top {
    color: #317ece;
    font-weight: 700;
}

.menu-mb-nav i {
    color: #fff;
    font-size: 20px;
}

.megamenu-mb {
    background-color: #fff;
}

.megamenu-mb > ul > li {
    position: relative;
    padding: 13px;
    border-bottom: 1px dotted #d7dce2;
}

.megamenu-mb > ul > li > a {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.megamenu-mb > ul > li > i {
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu_items-mb {
    padding: 10px !important;
}

.menu_items-mb > li{}
.menu_items-mb > li > a{
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.megamenu-mb {
    position: absolute;
    z-index: 999;
    left: 0px;
    right: 0px;
}

.megamenu-mb ,.menu_items-mb{
    display: none;
}

#header_mobile_menu {
    display: block;
}

#fieldmegamenu-main {
    display: none;
}

.vmegamenu1 {
    padding: 12px;
    width: 100%;
}

.header_menu {
    background-color: #fff;
}

.v-megamenu-title {
    border-radius: unset;
    background-color: #333;
}

.v-megamenu > ul > li div.submenu.bottom-co {
    position: unset;
}

.v-main-section-links > li {
    width: 100%;
}

.v-megamenu > ul > li {
    display: block;
    padding: 16.5px 0px;
}

.submenu {
    opacity: 1;
    visibility: visible;
}